pandas==3.0.2
numpy==2.4.4
scikit-learn==1.8.0
xgboost==3.2.0
matplotlib==3.10.9
seaborn==0.13.2
nltk==3.9.4
sentence-transformers==5.4.1
torch==2.11.0
transformers==5.8.0
streamlit==1.57.0
pdfplumber==0.11.9
joblib==1.5.3
